*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: #edefeb;
    max-width: 1100px;
    margin: 0 auto;
}
p {
    margin-top: 5px;
}
.content {
    padding: 50px 0 30px;
}
.content-news{
    background-color: #fefffc;
    border: 2px solid #e2e5e0;
    padding: 30px 10px;
}
.content-news__title{
    height: 100%;
    padding-bottom: 20px;
}
.list-news__items{
    padding: 10px 0;
}
.list-news__items-head {
    display: flex;
    font-family: 'Source Sans Pro Semibold', sans-serif;
}
.news-items__data{
    color: #ffffff;
    background-color: #893462;
    padding: 0 5px;
    font-size: 12px;
}
.news-items__title {
    padding: 0 5px;
    font-size: 18px;
}
.content-news__title h1{
    font-size: 29px;
    line-height: 40px;
    border-bottom: 1px dotted #893462;
}
.news-pagination__title {
    border-top: 1px dotted #893462;
    padding: 13px 0 8px;
}
.news-pagination {
    padding: 10px 0;
}
.news-pagination__content {
    display: flex;
    flex-wrap: wrap;
}

.news-pagination__item {
    flex: 0 1 4%;
    line-height: 17px;
    min-width: 43px;
    margin-bottom: 3px;
}
.news-pagination__item div {
    width: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #edefeb;
    border: 1px solid #dfe1dd;
}
.news-pagination__content a{
    margin: 0 auto;
    color: black;
    text-decoration: none;
}
.news-nav.active{
    color: #ffffff;
    background-color: #893462;
}
.news-pagination__show-item{
    width: auto;
    text-align: center;
    cursor: pointer;
    line-height: 32px;
    background-color: #edefeb;
    border: 1px solid #dfe1dd;
    font-size: 18px;
    padding: 0 10px;
    vertical-align: middle;
    margin: 10px auto;
    max-width: 200px;
}